<div class="banner" style="background-image: url(https://www.futurezone.de/wp-content/uploads/sites/11/2022/09/darth-vader-star-wars.jpg?w=1200https://airentertainment.biz/wp-content/uploads/2020/10/wasteland3-key-art-1024x576-1-1620x800.jpg)">
  <div class="container">
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-3 mb-5">
    <div class="col-12 col-lg-6">
      <%= link_to "Back to all Survivalists", survivalists_path, class: "btn btn-primary mb-2" %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center mt-1 mb-5">
    <div class="col-12 col-lg-6">
      <h1 class="text-light">Reserve a Survivalist</h1>
      <%= simple_form_for [@survivalist, @meeting] do |f| %>
        <%= f.input :start_date, as: :datetime, html5: true %>
        <%= f.input :end_date, as: :datetime, html5: true %>
        <%= f.association :survivalist %>
        <div class="btn btn-danger text-light">
          <%= f.button :submit %>
        </div>
      <% end %>
    </div>
  </div>
</div>
