<div class="container">
  <div class="container-listing text-center">
    <br>
    <h2><strong>Congratulations, your Survivalist has been booked!</strong></h2><br>
    <h3><strong>Booking Details</strong></h3>
    <hr>
    <strong>Start Date: <%= @meetings.start_date %></strong> | <strong>End Date: <%= @meetings.end_date %></strong>
    <h4 class="mt-3"><strong><%= @meetings.survivalist.name %></strong></h4>
    <p class="mt-3">Location: <%= @meetings.survivalist.street %></p>
    <p><%= @meetings.survivalist.city %></p>

    <div>
      <%= cl_image_tag @meetings.survivalist.user.photo.key, alt: "Your Specialist photo", class: "booking-image" %>
    </div>
    <br>
    <p><%= link_to "Check dashboard", pages_path %></p>
  </div>
</div>
