<div class="container">
  <div class="container-listing text-center">
    <br>
    <h2><strong>Congratulations, your Survivalist has been booked!</strong></h2><br>
    <h3><strong>Booking Details</strong></h3>
    <hr>
    <strong>Start Date: <%= @meeting.start_date %></strong> | <strong>End Date: <%= @meeting.end_date %></strong>

    <h4><strong><%= @meeting.survivalist.user.name %></strong></h4>
    <p>Location: <%= @meeting.survivalist.street %></p>
    <p><%= @meeting.survivalist.city %></p>

    <div><br>
      <%= cl_image_tag @meeting.survivalist.user.photo.key, alt: "Your Specialist photo", width: "300", class: "booking-image" %>
    </div>
    <br>
    <p><%= link_to "Check dashboard", pages_path %></p>
  </div>
</div>
