<div class="p-3 mb-2 bg-dark text-light">
  <div class="gradient">
    <div class="container">
      <h1 class="text-center mt-5">	&darr; My Survivalists! &darr;</h2>
      <div class="cards">
        <% @meetings.each do |meeting| %>
          <div class="card-trip">
            <img src="<%= meeting.survivalist.photo %>">
            <div class="card-trip-infos">
              <h2><%= meeting.survivalist.name %></h2>
              <p><%= meeting.survivalist.category %></p>
              <p>Skill: <%= meeting.survivalist.skills %></p>
            </div>
            <div>
              <p>From <span><em><%= meeting.start_date.strftime("%d.%m.%Y %H:%M") %></em></span>
              <br />to <span><em><%= meeting.end_date.strftime("%d.%m.%Y %H:%M") %></em></p></span>
              <p><strong>£222999.99/day</strong></p>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
