<div class="p-3 mb-2 text-white">
  <div class="gradient">
    <div class="container">

    <div class="App">
      <h2 class="lost"> &darr; Choose Your Survivalist! &darr;</h2>
    </div>
      <div class="my-5 grid-display">

        <div class="container cards mb-4">
          <% @survivalists.each do |survivalist| %>
            <%= link_to survivalist_path(survivalist) do %>
              <div class="card-trip rounded">
                <%= cl_image_tag survivalist.user.photo.key %>
                <div class="card-trip-infos">
                  <div>
                    <h2 text-light><%= survivalist.name %></h2>
                    <p text-light><%= survivalist.category %></p>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="container">
          <div data-controller="map"
               data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
               data-map-markers-value="<%= @markers.to_json %>"
               class="rounded map-responsive">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
