<div class="p-3 mb-2 bg-dark text-white">
<div class="banner" style="background-image: url(https://9to5toys.com/wp-content/uploads/sites/5/2022/01/forever-skies-no-logo.jpg)">


</div>
  <div class="container">
    <div class="new-survivalist">
      <h1> <strong>&darr; Register a Survivalist Profile! &darr;</strong> </h1>
      <%= simple_form_for(@survivalist) do |f| %>
        <%= f.input :category, as: :select, collection: ["Engineer", "Medical", "Destroyer", "Cook", "Hunter"] %>
        <%= f.input :skills %>
        <%= f.input :street %>
        <%= f.input :city %>
        <%= f.input :postcode %>
        <%= f.submit "Submit", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>
