<div class="container">
  <div class="row justify-content-center my-4">
    <div class="col-12 col-lg-6">
      <div class="card-trip">
      <%= cl_image_tag @survivalist.user.photo.key %>
      <div class="card-trip-infos">
        <div>
          <h2><%= @survivalist.user.name %></h2>
          <p><strong>Category:</strong> <%= @survivalist.category %></p>
          <p><strong>Skill:</strong> <%= @survivalist.skills %></p>
        </div>
        <h2 class="card-trip-pricing">£222999.99/day</h2>
      </div>
    </div>
  </div>
  <div class="my-4 text-center">
    <p><%= link_to "Reserve Survivalist", new_survivalist_meeting_path(@survivalist), class:"btn btn-danger text-light" %></p>
    <%= link_to "Back to all survivalists", survivalists_path, class: "btn btn-success text-white mb-2" %>
  </div>
</div>
